body {
  min-height: 2000px;
  background-color: aqua;
}
.circular-image{
    display: block;
    margin: 0 auto;
    width: 175px;
    height: 175px;
    border-radius:  50%;
    }
.value{
	font-size: 15px;
	font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    color: #ff102c;
    text-align: justify;
    padding: 12px;
	}

.subject{
	font-size: 15px;
   	font-family: "Comic Sans MS";
    color: #6650ff;
    text-align: justify;
	}