body {
  min-height: 2000px;
  background: linear-gradient(navy, yellow,white);
}
h4{
  text-align: left;
  font-style: oblique;
  color:  #1E90FF;
}
/*h1{
  text-align: center;
  font-size: 75px;
  font-style: normal;
  color: #FFE4B5;
  text-shadow: 3px 7px red;
  padding-bottom: 20px;
}*/

table,th ,td{
  margin: 0 auto;
  border-style: none;
}

.circularimage{
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius:  50%;
  }

.value{
	font-size: 28px;
	font-family: "Trebuchet MS", "Lucida Grande", Verdana, Arial, sans-serif;
  color: #00008B;
  text-align: justify;
	}

.subject{
	font-size: 28px;
  font-family: "Comic Sans MS";
  color: #6650ff;
  text-align: justify;
	}

.animatedBox {
  width: 300px;
  height: 200px;
  text-align: center;
  font: 24px sans-serif;
  color: white;
  text-shadow: 0px 0px 12px black;
  background-image: url('https://image.ibb.co/kx6Efb/cartoon.png');
  background-position: bottom left;
  border: 1px solid black;
  animation: moveBg 100s ease 1s 2 alternate none;
  margin: 0 auto;
}

@keyframes moveBg {
  100% {
    background-position: bottom right;
  }
}
.animated {
  font: 100 1em sans-serif;
  animation: myAnimation 10s ease 1s 3 alternate forwards;
}

@keyframes myAnimation {
  80% {
    font: 100 3em san-serif;
  }
  100% {
    font: 900 2em san-serif;
  }
}
.chameleon {
  font: 100 3em sans-serif;
  color: yellowgreen;
  text-decoration: overline wavy green; 
  animation: myAnimation 3s ease 1s 5 alternate forwards;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 30px;
}

@keyframes myAnimation {
  50% {
    text-decoration: orange;
  }
  100% {
    text-decoration: blue;
  }
}
