body {
  min-height: 2000px;
  background-color: aqua;
}

.circularimage{
  display: block;
  margin: 0 auto;
  width: 175px;
  height: 175px;
  border-radius:  50%;
  }

.value{
	font-size: 15px;
	font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  color: #A9A9A9;
  text-align: justify;
  padding: 12px;
	}

.subject{
	font-size: 15px;
  font-family: "Comic Sans MS";
  color: #6650ff;
  text-align: justify;
	}


