<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<style>
			ul {
    			list-style-type: none;
    			margin: 0;
    			padding: 0;
    			overflow: hidden;
    			background-color: #E9967A;
			}

			li {
    			float: left;
			}

			li a {
    			display: block;
    			color: 	#FFF8DC;
    			text-align: center;
    			padding: 20px 30px;
    			text-decoration: none;
				font-size : 20px;
				font face : verdana;
			}

			li a:hover {
    			background-color: #FFF8DC;
			}
			
			.button {
				background-color: blue;
				font-size: 15px;
				color: white;
				margin: 5px 0px;
			}
			
		</style>
	</head>

	<body style ="background-color : yellow">
		
		<ul>
			<li><a href="{% url 'home-status:index' %}">Ling In</a></li>
  			<li><a class="active" href="{% url 'home-status:index' %}">Status</a></li>
		  <li>
			<a class="nav-link" href="#">Profile</a>
		  </li>
		    <li><a href="#cari">Profile</a></li>
			<li><a href="#cari">Friends</a></li>
			<li><a href="#cari">Statistic</a></li>
		</ul>
		
    <content>
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
    </content>
		
	</body>

</html>