{% extends "base.html" %}
{% block content %}
<h3>Add Friend</h3>
<br><br>
<div class="row">
    <div class="col-md-6 col-xs-6">
        <form method="POST" action="add_friend/">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        Name:
                    </td>
                    <td>
                        <input type="text" name="Name" class="form-control" maxlength="27" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        URL:
                    </td>
                    <td>
                        <input type="url" name="URL" required>
                    </td>
                </tr>
            </table>
            <button type="submit" class="button btn-success">Add Friend</button>
        </form>
    </div>
    <div class="col-md-6 col-xs-6">
        <table>
            <tr>
                <th>List Friend</th>
            </tr>
            {% for friends_data in friends_dict %}
                <tr>
                    <td class="name">{{ friends_data.name }}</td>
                    <td class="URL">{{ friends_data.URL }}</td>
                    <td class="date">{{ friends_data.date }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
