<!-- {% extends "lab_4/layout/base.html" %}
{% block content %}
<p>    Statistic</p>
<section name="photo">
	<b>{{nama}}</b>
</section>
<section name="information">
	<p><b>Friends     </b>{{friends}} People                <b>Feed</b>     {{post}} Post</p>
	<br><p>Latest Post</p><br>
</section>
<hr/>
<section name="timeline">
	<div class="container">
		<div class="kotak" style="padding-top: 10px">
		<div class="row">
			<div class="col-sm-8">
				<div class="media" style="padding: 10px">
					<div class="media-left ">
						<img src="https://c2.staticflickr.com/4/3006/2649581844_984d2a084a_b.jpg" alt="gambar" width = "55px" height = "55px" style="border-radius:50%">
					</div>
				</div>
				<div class="media-heading" style="padding-left:15px;margin-top:10px;width:87%">
					<b> {{ nama }}</b>
					<p class = "media-heading" style="font-size: 15px;word-wrap:break-word;">
							{{ status | linebreaksbr }}
					</p>
					<div id="created_date" style="font-size:80%; font-style:italic;margin-bottom:5px; color: black" align="left"> {{ i.created_date | date:"d M Y H:i:s" }}</div>
				</div>
			</div>
		</div>
		<br>
		</div>
		{% endfor %}
		</div>
	</div>
</section>
{% endblock %}
 -->