{% extends "templates/base.html" %}

{% block content %}

<style>
.font1{
    font-family: 'Spectral SC', serif;
}
.part2-info_user .glyphicon-user{
	font-size: 150px;
    color: red
}
.buttonPertama{
	margin-bottom: 20px;
}
.myData{
	
	padding: 10px;
}
.part2 a{
	margin-bottom: 30px;
	margin-left: 30px;
}
.part2_info_user{
	background-color: #C8D8DE;
	padding: 10px;
	border-radius: 10px;
}
.media-left .glyphicon-user{
font-size: 50px;
margin-right: 30px;
}
.kotak{
background-color: #F0FFFF;
border-radius: 30px;
margin-bottom: 20px;
}
.page1{
    top: -120px;
}
.row .btn-danger{
    margin-top: 40px;
}
  </style>

<!-- bikin konten buat tiap fitur di sini yak-->
<div class = "container" id="container-status">
    <section name="update_status" id="update_status">
        <form id="form" method="POST" action="{% url 'home-status:tambah_status' %}">
            <h3>Input Status</h3>
            {% csrf_token %}
            {{ status_form }}
            <br>
            <input id="submit" type="submit" class="btn btn-default btn-primary" value="Post" style="float: right;">
            <br>
        </form>
        <br>
    </section>
	
    <section name ="status_history" id = "status_history">
        <div class="container">
            {% for i in status %}
            <div class="kotak" style="padding-top: 10px">
			<div class="row">
                <div class="col-sm-8">
                    <div class="media" style="padding: 10px">
                        <div class="media-left ">
                            <img src="https://c2.staticflickr.com/4/3006/2649581844_984d2a084a_b.jpg" alt="gambar" width = "55px" height = "55px" style="border-radius:50%">
						</div>
                    </div>
                    <div class="media-heading" style="padding-left:15px;margin-top:10px;width:87%">
                        <b> {{ nama }}</b>
                        <p class = "media-heading" style="font-size: 15px;word-wrap:break-word;">
                                {{ i.status | linebreaksbr }}
                        </p>
                        <div id="created_date" style="font-size:80%; font-style:italic;margin-bottom:5px; color: black" align="left"> {{ i.created_date | date:"d M Y H:i:s" }}</div>
                        <div class="adding-comment-link" align="left">
                            <a href="{% url 'home-status:comment' i.id %}" style="color: black;font-size:85%;">
                                Add Comment
                            </a>
                        </div>
                    </div>
                </div>
            </div>
			{% for data in comments %}
			{% if data.post.id == i.id %}
			<div class="row">
			<div class="col-sm-8">
				<div class="media" style="padding: 10px">
					<div class="media-left ">
						<img src="{{picture}}" alt="gambar" align="left" width = "50px" height = "50px" style="border-radius:50%">
					</div>
				</div>
			</div>
				<div class="media" align="left" style="width: 87%;padding-left:15px;margin-top:10px">
						<b>{{data.nama}}</b>
						<p class="media-heading" style="padding-left:15px;margin-top:10px;width:87%">
						{{ data.comment | linebreaksbr }} </p>
					<div id="created_date" style="font-size:80%; font-style:italic;margin-bottom:5px; color: black"> 
						{{ data.comments_created_date | date:"d M Y H:i:s" }}
					</div>
				</div>
			</div>
			<br>
			    {% endif %}
                {% endfor %}
			</div>
            {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock %}